<head><link rel="stylesheet" href="css/footer.css"></head>
<div class="footer">
    <p>Copyright&copy; Designed by <a href="">Zain ul Abidin</a>. All Rights are reserved by ZZ enterprises</p>
</div>
</body>
</html>