
   <head> <link rel="stylesheet" href="css/navbar.css"></head>
  <div class="wrapper">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
      <div class="logo"><a href="#">Foodies</a></div>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li>
            <a href="#" class="desktop-link">Category</a>
            <input type="checkbox" id="show-features">
            <label for="show-features">Category</label>
            <ul>
              <li><a href="/category/classic">Classic</a></li>
              <li><a href="/category/fastfood">Fast Food</a></li>
              <li><a href="/category/desserts">Desserts</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="desktop-link">Region</a>
            <input type="checkbox" id="show-services">
            <label for="show-services">Region</label>
            <ul>
              <li><a href="/showRegionFoods/american">American-food</a></li>
              <li><a href="/showRegionFoods/chinese">Chinese-food</a></li>
              <li><a href="/showRegionFoods/pakistani">Pakistani-food</a></li>
              <li><a href="/showRegionFoods/indian">Indian-food</a></li>
              <li><a href="/showRegionFoods/others">Others</a></li>
              
            </ul>
          </li>
          <%if(data === "guest" ){%>
            <li><a href="/loginPage">Login</a></li>
            <%}else{%>
              <li><a href="/uploadRecipe">Upload Recipe</a></li>
            <li><a href="/logout"><%= data%></a></li>
          <%}%>
        </ul>
      </div>
      <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
      <form action="/search" class="search-box" method="get">
        <input type="text" name="search" placeholder="Type Something to Search..." required>
        <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
      </form>
    </nav>
  </div>

