*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
.containor{
    height: 100%;
    width: 100%;
    background-image: url('../images/background.jpg');
    background-position: center;
    background-size: cover;
    position:absolute;
}
.containor .form-box{
    width: 380px;
    height: 480px;
    margin: 6% auto;
    position: relative;
    background: white;
    padding: 5px;
    overflow: hidden;
}
.containor .form-box .button{
    display: block;
    width: 29%;
    justify-content: center;
    margin: 35px 25%;
    margin-left: 35%;
    position: relative;
    box-shadow: 0 0 10px 9px rgb(243 204 243);
    border-radius: 30px;
}
.toogle{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top:0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right,rgb(177, 72, 177),violet);
    border-radius: 30px;
    transition: .5s;

}
.containor .form-box .social{
    margin: 30px auto;
    text-align: center;
}
.containor .form-box .social img{
    width:20px;
    margin: 0 10px;
    border-radius: 50%;
}
.containor .form-box .inputf{
    margin: 40px 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}
.containor .form-box .inputf i{
    margin-right: 20px;
}
.containor .form-box .inputf input{
    outline: none;
    border: none;
    border-bottom: 2px solid violet;
    border-right: 2px solid rgb(177, 72, 177);
    font-weight: 600;
}
/* .containor .form-box .inputf input:hover
{
    border: none;
} */
/* .containor .form-box .pass{
    padding-bottom: 2px;
} */
.containor .form-box .text{
    margin: -35px 30%;
    margin-bottom: 40px;
    font-size: 12px;
}
.containor .form-box .button1 button{
    width: 50%;
    height: 50px;
    border-radius: 15px;
    color: white;
    background: rgb(177, 72, 177); 
    border-right:2px solid violet;
    border-bottom: 2px solid violet;

}